@model JobShop.Models.Jobs

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Jobs</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdWho)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdWho)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateAdd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateAdd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VideoSRC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VideoSRC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageSRC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImageSRC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MarkerImagePath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MarkerImagePath)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Titlu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titlu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WhereWhat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WhereWhat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Solicitare)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Solicitare)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateStart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateStart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateEnd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateEnd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Orar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Orar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Localitate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Localitate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Latitudine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Latitudine)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Longitudine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Longitudine)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ZIP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ZIP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Region)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Region)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Salary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Salary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MinSal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MinSal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaxSal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaxSal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Experience)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Experience)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUsers.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUsers.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkPermit1.WorkPermit1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkPermit1.WorkPermit1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkType1.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkType1.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkIndustry1.Industry)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkIndustry1.Industry)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
